body { background: #75a400; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 20px; display: flex; }
.block-filter-0 { color: #d59779; font-size: 20px; margin-bottom: 5px; }
.block-search-1 { color: #fdf688; font-size: 19px; margin-bottom: 5px; }
.block-logger-2 { color: #c703ae; font-size: 15px; margin-bottom: 5px; }
.block-sms-3 { color: #df6067; font-size: 19px; margin-bottom: 5px; }
.block-cache-4 { color: #cdf5a0; font-size: 19px; margin-bottom: 5px; }
.block-config-5 { color: #5144b4; font-size: 18px; margin-bottom: 5px; }
.block-helper-6 { color: #62b2; font-size: 19px; margin-bottom: 5px; }
.block-shipping-7 { color: #133801; font-size: 16px; margin-bottom: 5px; }
.block-token-8 { color: #32598; font-size: 17px; margin-bottom: 5px; }
.block-email-9 { color: #46d7c; font-size: 18px; margin-bottom: 5px; }
.block-session-10 { color: #eb0229; font-size: 21px; margin-bottom: 5px; }
.block-config-11 { color: #c9b252; font-size: 18px; margin-bottom: 5px; }